@font-face {
    font-family: Alata;
    src: url('./Alata-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
}

body{
    background: url('./bg.jpeg');
    background-repeat:repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Alata';
    height: max-content;
}
.container{
    height: 100vh;
    line-height: 1.6;
    display: grid;
    grid-template-columns: 4fr 7fr;
    grid-template-rows: 1fr 20fr;
    grid-template-areas:
    "header header"
    ". content";
}

.header{
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header > .nav > button {
    font-size: 2.5rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: transparent;
    border: 0;
    outline: 0;
    font-family: inherit;
}

.header > .nav > button:hover{
    transform: translateY(-7px);
}
.header > .nav > button:focus{
    text-decoration: underline;
}


.content{
    font-size: 1rem;
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content > div {
    width: 80%;
    padding: 2rem;
    border: 2px solid rgb(0, 0, 0);
    margin: 3rem;
    text-align: center;
}


#chefpic{
    margin: 1rem;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 20rem;
    border-radius: 25px;
}

.menuitem{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 5fr;
    grid-template-areas:
    "menuimg menutext"
    "menuimg menudesc";
    height: 10rem;
}

.menutext{
    grid-area: menutext;
    font-size: 2rem;
    text-align: center;
}

.menuimg{
    border-radius: 50%;
    grid-area: menuimg;
    height: 9rem;
}

.menudesc{
    grid-area: menudesc;
    font-size: 1.3rem;
    text-align: center;
}

.adress{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

@media only screen and (max-width: 800px) {
    body{
        background: none;
        background-repeat:repeat;
        background-position: center;
        background-size: cover;
        font-family: 'Alata';
        height: max-content;
    }
    .container{
        height: 100vh;
        line-height: 1;
        display: grid;
        grid-template-columns: 4fr 7fr;
        grid-template-rows: 1fr 20fr;
        grid-template-areas:
        "header header"
        "content content";
    }

    .header > .nav > button {
        font-size: 1.2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        background-color: transparent;
        border: 0;
        outline: 0;
        font-family: inherit;
    }

    .menuitem{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 2fr 5fr;
        grid-template-areas:
        "menutext"
        "menudesc"
        "menuimg";
        height: 15rem;
    }

    .menuitem > img {
        height: 7rem;
        align-self: center;
        justify-self: center;
    }

    .content > div {
        width: 80%;
        padding: 0;
        border: none;
        margin: 1rem;
        text-align: center;
        font-size: 0.8rem;
    }

    .map > iframe {
        width: 99vw;
        align-self: center;
        justify-self: center;
    }
}