* {
    margin: 0;
    padding: 0;
}

body{
    background: url('./bg.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.container{
    height: 100vh;
    display: grid;
    grid-template-columns: 4fr 7fr;
    grid-template-rows: 2fr 20fr 1.2fr;
    grid-template-areas:
    "header header"
    ". content"
    "infobottom infobottom";
}

.header{
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.header > .nav > button {
    font-size: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: transparent;
    border: 0;
}

.header > .nav > button:hover{
    text-decoration: underline;
    transform: translateY(-7px);
}


.content{
    grid-area: content;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content > * {
    width: 80%;
    padding: 3rem;
    border: 2px solid green;

}

.infobottom{
    grid-area: infobottom;
    opacity: 0.5;
    background-color: black;

}